/*
Author:       SeaMonster Studios
Version:      1.9.3
License:      GNU General Public License v2 or later
License URI:  http://www.gnu.org/licenses/gpl-2.0.html
*/

#nav-instructions {
    position: absolute;
    text-align: center;
    width: 100%;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background: rgba(0,0,0,.55);
    border-radius:4px;
    padding: 12px;
    font-family: arial;
    font-size: 14px;
    color: #fff;
    text-shadow: -1px 1px 0 #000,
				 1px 1px 0 #000,
				 1px -1px 0 #000,
				 -1px -1px 0 #000;
}